doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='')
  title Trang qua&#x309;n tri&#x323;
  // Custom fonts for this template
  link(href='/fontawesome/css/all.min.css' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' rel='stylesheet')
  // Custom styles for this template
  link(href='/bootstrap/css/bootstrap.min.css' rel='stylesheet')
  link(rel='stylesheet' href='/css/admin1.css ')
#page-top
// Page Wrapper
#wrapper
  // Sidebar
  include ../layouts/students/sidebar.pug
  // Content Wrapper
  #content-wrapper.d-flex.flex-column
    // Main Content
    #content
      // Topbar
      include ../layouts/students/topbar.pug
      // Begin Page Content
      .container-fluid
        // Content Row
        .row.content
          .col-md-7.col-sm-12.left-content
            h3.my-4= course.name
            p.description= course.description
            .my-2.you-can-learn
              .group-header.d-flex.justify-content-between
                h4 Bạn sẽ học được gì ?

              section
                ul
                  each ycl in course.youCanLearn
                    li
                      i.fas.fa-check
                      = ycl.content  
                  
            .content-course
              h4.my-3 N&ocirc;&#x323;i dung kho&#x301;a ho&#x323;c
              #accordionCourseDetails.accordion
                .card.shadow-sm
                  #headingOne.card-header.d-flex.justify-content-between
                    h2.mb-0
                      button.btn.btn-link.btn-block.text-left(type='button' data-toggle='collapse' data-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
                        strong Ba&#x300;i gia&#x309;ng
                    
                  #collapseOne.collapse.show(aria-labelledby='headingOne' data-parent='#accordionCourseDetails')
                    .card-body
                      ul.list-content
                        each less, index in course.lessons
                          li.d-flex.justify-content-between.align-items-center
                            | #{index+1}. #{less.title}
                            // Button trigger modal
                            button.btn.btn-primary.btn-video(type='button' data-toggle='modal' data-target='#videoModal' data-video= less.path)
                              i.fas.fa-play-circle
                .card.shadow-sm
                  #headingTwo.card-header.d-flex.justify-content-between
                    h2.mb-0
                      button.btn.btn-link.btn-block.text-left.collapsed(type='button' data-toggle='collapse' data-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo')
                        strong Ba&#x300;i t&acirc;&#x323;p
                  #collapseTwo.collapse(aria-labelledby='headingTwo' data-parent='#accordionCourseDetails')
                    .card-body
                      ul.list-content
                        each hw, index in course.homeworks
                          li.d-flex.justify-content-between.align-items-center
                            | #{index+1}. #{hw.title}
                            
                            .btn-group(role="group" aria-label="Basic example")
                              a(href=hw.path target="_blank")
                                button(class="btn btn-warning btnHomework" data-toggle="modal" data-target="#submitHomework" type="button") Tải xuống
                              button(class="btn btn-primary btnHomework" data-toggle="modal" data-target="#submitHomework" type="button") Nộp bài tập
                              i(hidden)= hw._id
                .card.shadow-sm
                  #headingThree.card-header.d-flex.justify-content-between
                    h2.mb-0
                      button.btn.btn-link.btn-block.text-left.collapsed(type='button' data-toggle='collapse' data-target='#collapseThree' aria-expanded='false' aria-controls='collapseThree')
                        strong Ta&#x300;i li&ecirc;&#x323;u tham kha&#x309;o
                    
                  #collapseThree.collapse(aria-labelledby='headingThree' data-parent='#accordionCourseDetails')
                    .card-body
                      ul.list-content
                        each doc, index in course.documents
                          li.d-flex.justify-content-between.align-items-center
                            | #{index+1}. #{doc.title}
                            a(href= doc.path)
                              i.fas.fa-file-download.mr-1
                              | Ta&#x309;i xu&ocirc;&#x301;ng  
            .course-requiment.mt-4
              .group-header.d-flex.justify-content-between.my-3
                h4 Y&ecirc;u c&acirc;&#x300;u
              ul
                each req in course.requirements
                  li.d-flex.justify-content-between.align-items-center
                    span
                      i.fas.fa-check
                      = req.content
                    
            .info-lecture.shadow-sm
              h4.mb-3 Thông tin giảng viên
              .media
                img.mr-3.rounded-circle(src=course.lecture.lectureId.avatar alt=course.lecture.name)
                .media-body
                  h5.mt-0=course.lecture.name
                  span.lecture-desc=course.lecture.lectureId.description

            .block-rating
              h4.my-3 Bi&#x300;nh lu&acirc;&#x323;n
              .box-comment
                form#formComment(action='/student/addComment' method='POST')
                  input(type="hidden" name='idUser' value= student._id)
                  input(type="hidden" name="idCourse" value= course._id)
                  .media
                    img.mr-3.rounded-circle(src= student.avatar alt= student.name)
                    .media-body
                      .form-group
                        textarea#input-comment.form-control(rows='3' placeholder='Cảm nhận của bạn ?' name="content")
                  .block-button.d-flex.justify-content-end
                    .btn.btn-primary#btn-submit(type="submit") Bi&#x300;nh lu&acirc;&#x323;n
                    .btn.btn-secondary.ml-2 Hu&#x309;y
              hr
              ul.list-unstyled
                each cmt in comments
                  li.media.border-bottom.py-2
                    img.mr-3.rounded-circle(src= cmt.idUser.avatar alt= cmt.idUser.name)
                    .media-body
                      h6.mt-0.mb-1= cmt.idUser.name
                      p= cmt.content
          .col-md-4.col-sm-12.right-content
            .card.shadow
              .image-play
                img.card-img-top.img-course(src= course.image alt= course.name)
                i.fas.fa-play-circle(data-toggle='modal' data-target='#previewCourse')
              .card-body
                a.btn.btn-block.btn-success(href='#' data-toggle='modal' data-target='#previewCourse') Xem gi&#x1A1;&#x301;i thi&ecirc;&#x323;u
                ul.mt-3
                  li
                    i.fas.fa-tachometer-alt
                    | Trình độ #{course.level}
                  li
                    i.fas.fa-list
                    | N&ocirc;&#x323;i dung &dstrok;&#x1B0;&#x1A1;&#x323;c bi&ecirc;n soa&#x323;n khoa ho&#x323;c
                  li
                    i.fas.fa-chalkboard-teacher
                    | Gia&#x309;ng vi&ecirc;n co&#x301; chuy&ecirc;n
                    |                       m&ocirc;n cao
        // end rowconent
      // /.container-fluid
    // End of Main Content
    // Footer
    footer.sticky-footer.bg-white
      .container.my-auto
        .copyright.text-center.my-auto
          span Copyright &copy; Your Website 2020
    // End of Footer
  // End of Content Wrapper
// End of Page Wrapper
// Scroll to Top Button
a.scroll-to-top.rounded(href='#page-top')
  i.fas.fa-angle-up
// Logout Modal
include ../layouts/modal-logout.pug
.row
  .col-sm-4.col-md-6
    #previewCourse.modal.fade(tabindex='-1' aria-labelledby='previewCourseLabel' aria-hidden='true')
      .modal-dialog.modal-dialog-centered.modal-lg
        .modal-content
          .modal-header
            h5#previewCourseLabel.modal-title
              | #{course.name}
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') &times;
          .modal-body
            video(controls width='100%' autoplay)
              source(src= course.videoId type='video/mp4')

#submitHomework.modal.fade(tabindex='-1' aria-labelledby='submitHomeworkLabel' aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h5#submitHomeworkLabel.modal-title Nộp bài tập
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        form(action='/student/submitHomework' method='POST' enctype='multipart/form-data')
          input#idCourse(type="hidden" name="idCourse" value= course._id)
          input#idHomework(type="hidden" name="idHomework")
          input#idStudent(type="hidden" name="idStudent" value= student._id)
          .form-group
            label(for='content1') Nội dung
            textarea#content1.form-control(rows='3' name="content")
          .form-group
            label(for='file') File đính kèm
            input#file.form-control-file(type='file' name="file")
          .modal-footer
            button.btn.btn-secondary(type='button' data-dismiss='modal') &Dstrok;o&#x301;ng
            button.btn.btn-primary(type='submit') Gửi



// Modal
#videoModal.modal.fade(tabindex='-1' aria-labelledby='videoModalLabel' aria-hidden='true')
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h5#videoModalLabel.modal-title
        button.close.btn-close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        video#videoElement(controls width='100%' autoplay)
          source#videoSrc(src='' type='video/mp4')

      .modal-footer
        button.btn.btn-secondary.btn-close(type='button' data-dismiss='modal') Đóng


// Bootstrap core JavaScript
script(src='/jquery/jquery.min.js')
script(src='/bootstrap/js/bootstrap.bundle.min.js')
// Core plugin JavaScript
script(src='/jquery-easing/jquery.easing.min.js')
// Custom scripts for all pages
script(src='/javascripts/sb-admin-2.min.js')
script(src='/javascripts/detail-course.js')
script(src="/javascripts/student.js")
