doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='')
  title Trang qua&#x309;n tri&#x323;
  // Custom fonts for this template
  link(href='/fontawesome/css/all.min.css' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' rel='stylesheet')
  // Custom styles for this template
  link(href='/bootstrap/css/bootstrap.min.css' rel='stylesheet')
  link(rel='stylesheet' href='../css/admin1.css ')
  link(href='/datatables/dataTables.bootstrap4.min.css' rel='stylesheet')
  // Bootstrap core JavaScript
  script(defer src='/jquery/jquery.min.js')
  script(defer src='/bootstrap/js/bootstrap.bundle.min.js')
  // Core plugin JavaScript
  script(defer src='/jquery-easing/jquery.easing.min.js')
  // Custom scripts for all pages
  script(defer src='/javascripts/sb-admin-2.js')
  // Page level plugins
  script(defer src='/datatables/jquery.dataTables.min.js')
  script(defer src='/datatables/dataTables.bootstrap4.min.js')
  // Page level custom scripts
  script(defer src='/javascripts/admin-student.js')
  script(defer src='/javascripts/admin.js')
body#page-top
// Page Wrapper
#wrapper
  // Sidebar
  include ../layouts/admin/sidebar.pug
    
  // Content Wrapper
  #content-wrapper.d-flex.flex-column
    // Main Content
    #content
      // Topbar
      include ../layouts/admin/topbar.pug
      // End of Topbar
      // Begin Page Content
      .container-fluid
        // Page Heading
        h1.h3.mb-2.text-gray-800 Qua&#x309;n ly&#x301; ho&#x323;c vi&ecirc;n
        p.mb-4 #{students.length} ho&#x323;c vi&ecirc;n
        // DataTales Example
        .card.shadow.mb-4
          .card-header.py-3.add-something
            h6.m-0.font-weight-bold.text-primary Danh sa&#x301;ch ho&#x323;c vi&ecirc;n
            button.btn.btn-primary(data-toggle='modal' data-target='#addModal')
              i.fas.fa-user-plus
              |  Th&ecirc;m ho&#x323;c vi&ecirc;n
          .card-body
            .table-responsive
              table#dataTable.table.table-bordered(width='100%' cellspacing='0')
                thead
                  tr
                    th Ho&#x323; T&ecirc;n
                    th Email
                    th S&ocirc;&#x301; &dstrok;i&ecirc;&#x323;n thoa&#x323;i
                    th Kho&#x301;a ho&#x323;c tham gia
                    th S&#x1B0;&#x309;a-Xo&#x301;a
                
                tbody
                  each student in students
                    tr
                      td=student.name
                      td=student.email
                      td=student.phone
                      td 
                        .btn-group
                          button.btn(type='button') #{student.listCourses.length} khóa học 
                            if student.listCourses.length != 0
                              button.btn.dropdown-toggle.dropdown-toggle-split(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                                span.sr-only Toggle Dropdown
                                .dropdown-menu
                                    each c in student.listCourses
                                      a.dropdown-item(href='#')=c.nameCourse
                              
                      td
                        .btn-group(role='group')
                          button.btn.btn-success.text-white.btn-edit(type='button' data-toggle='modal' data-target='#editModal')
                            i.far.fa-edit
                          button.btn.btn-danger.btn-delete(type='button' data-toggle='modal' data-target='#deleteModal')
                            i.far.fa-trash-alt
                          i(hidden)=student._id
                    // 1 student

                 
      // /.container-fluid
    // End of Main Content
    // Footer
    footer.sticky-footer.bg-white
      .container.my-auto
        .copyright.text-center.my-auto
          span Copyright &copy; Your Website 2020
    // End of Footer
  // End of Content Wrapper
// End of Page Wrapper
// Scroll to Top Button
a.scroll-to-top.rounded(href='#page-top')
  i.fas.fa-angle-up
// Logout Modal
include ../layouts/modal-logout.pug

// add student modal
#addModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='addModalLabel' aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#addModalLabel.modal-title Th&ecirc;m ho&#x323;c vi&ecirc;n
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        form(method="POST" action="/admin/addStudent")
          .form-group
            label(for='inputNameStudent') T&ecirc;n ho&#x323;c vi&ecirc;n
            input#inputNameStudent.form-control(type='text' placeholder='Nhập tên học viên' name="name")
          
          .form-group
            label(for='inputEmailStudent') Email
            input#inputEmailStudent.form-control(type='email' placeholder='Nhập email học viên' name="email")
          .form-group
            label(for='inputPhoneStudent') S&ocirc;&#x301; &dstrok;i&ecirc;&#x323;n thoa&#x323;i
            input#inputPhoneStudent.form-control(type='text' placeholder='Nhập số điện thoại' name="phone")
          
          br
          hr
          .float-right
            button.btn.btn-secondary(type='button' data-dismiss='modal') Thoa&#x301;t
            button.btn.btn-primary.ml-2(type='submit') Th&ecirc;m ho&#x323;c vi&ecirc;n
// end add modal student

// edit student modal
#editModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='editModalLabel' aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#editModalLabel.modal-title S&#x1B0;&#x309;a ho&#x323;c vi&ecirc;n
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        form(method="POST" action="/admin/editStudent?_method=PUT")
          .form-group
            input#idStudent(type="text" name="id" hidden)
            label(for='nameStudent') T&ecirc;n ho&#x323;c vi&ecirc;n
            input#nameStudent.form-control(type='text' placeholder='Nhập tên học viên' name="name")
          .form-row
            .form-group.col-md-6
              label(for='emailStudent') Email
              input#emailStudent.form-control(type='email' placeholder='Nhập email học viên' name="email")
            .form-group.col-md-6
              label(for='phoneStudent') S&ocirc;&#x301; &dstrok;i&ecirc;&#x323;n thoa&#x323;i
              input#phoneStudent.form-control(type='text' placeholder='Nhập số điện thoại' name="phone")
          .form-group
            label(for='listCourse') Ph&acirc;n quy&ecirc;&#x300;n kho&#x301;a ho&#x323;c
            select#listCourse.form-control(name="courses" multiple)
              each course, idx in courses
               option(value=course._id+'-'+course.name) #{ idx + 1} - #{ course.name }
          
          hr
          .float-right
            button.btn.btn-secondary(type='button' data-dismiss='modal') Thoa&#x301;t
            button.btn.btn-primary.ml-2(type='submit') Sửa học viên
// end edit modal course

// Modal
#deleteModal.modal.fade(tabindex='-1' aria-labelledby='deleteModalLabel' aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h5#deleteModalLabel.modal-title Xo&#x301;a ho&#x323;c vi&ecirc;n ?
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        #nameDelete
      .modal-footer
        form(method="POST", action="/admin/deleteStudent?_method=DELETE")
          input#idDelete(type="hidden", name="id")
          button.btn.btn-danger(type='submit') Xo&#x301;a
          button.btn.btn-primary.ml-2(type='button' data-dismiss='modal') Kh&ocirc;ng

