doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='')
  title Trang quản trị
  // Custom fonts for this template
  link(href='../fontawesome/css/all.min.css' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' rel='stylesheet')
  // Custom styles for this template
  link(href='../bootstrap/css/bootstrap.css' rel='stylesheet')
  link(rel='stylesheet' href='../css/admin1.css ')
  link(href='../datatables/dataTables.bootstrap4.min.css' rel='stylesheet')
  // Bootstrap core JavaScript
  script(defer src='../jquery/jquery.min.js')
  script(defer src='../bootstrap/js/bootstrap.bundle.min.js')
  // Core plugin JavaScript
  script(defer src='../jquery-easing/jquery.easing.min.js')
  // Custom scripts for all pages
  script(defer src='../javascripts/sb-admin-2.js')
  // Page level plugins
  script(defer src='../datatables/jquery.dataTables.min.js')
  script(defer src='../datatables/dataTables.bootstrap4.min.js')
  // Page level custom scripts
  //script(defer src='../javascripts/demo/datatables-demo.js')
  script(defer src='../javascripts/admin-lecture.js')
  script(defer src='../javascripts/admin.js')
body#page-top
// Page Wrapper
#wrapper
  // Sidebar
  include ../layouts/admin/sidebar.pug
  // Content Wrapper
  #content-wrapper.d-flex.flex-column
    // Main Content
    #content
      // Topbar
      include ../layouts/admin/topbar.pug
      // Begin Page Content
      .container-fluid
        // Page Heading
        h1.h3.mb-2.text-gray-800 Quản lý giảng viên
        p.mb-4 #{lectures.length} giảng viên
        // DataTales Example
        .card.shadow.mb-4
          .card-header.py-3.add-something
            h6.m-0.font-weight-bold.text-primary Danh sa&#x301;ch gia&#x309;ng vi&ecirc;n
            button.btn.btn-primary(data-toggle='modal' data-target='#addModal')
              i.fas.fa-user-plus
              |  Th&ecirc;m gia&#x309;ng vi&ecirc;n
          .card-body
            .table-responsive
              table#dataTable.table.table-bordered(width='100%' cellspacing='0')
                thead
                  tr
                    th Ho&#x323; T&ecirc;n
                    th M&ocirc; ta&#x309;
                    th Email
                    th S&ocirc;&#x301; &dstrok;i&ecirc;&#x323;n thoa&#x323;i
                    th Li&#x303;nh v&#x1B0;&#x323;c gia&#x309;ng da&#x323;y
                    th Kho&#x301;a ho&#x323;c gia&#x309;ng da&#x323;y
                    th Ho&#x323;c vi&ecirc;n
                    th S&#x1B0;&#x309;a-Xo&#x301;a
              
                tbody
                  each lecture in lectures
                    tr
                      td=lecture.name
                      td=lecture.description
                      td=lecture.email
                      td=lecture.phone
                      td=lecture.categories
                      td=lecture.listCourse.length
                      td=lecture.listStudent.length
                      td
                        .btn-group(role='group')
                          button.btn.btn-success.text-white.btn-edit(type='button' data-toggle='modal' data-target='#editModal')
                            i.far.fa-edit
                            
                          button.btn.btn-danger.btn-delete(type='button' data-toggle='modal' data-target='#deleteModal')
                            i.far.fa-trash-alt
                          i(hidden)=lecture._id
                          i(hidden)=lecture.avatar
                          //i=lecture.createdAt
                      
                      // 1 course
      // /.container-fluid
    // End of Main Content
    // Footer
    footer.sticky-footer.bg-white
      .container.my-auto
        .copyright.text-center.my-auto
          span Copyright &copy; Your Website 2020
    // End of Footer
  // End of Content Wrapper
// End of Page Wrapper
// Scroll to Top Button
a.scroll-to-top.rounded(href='#page-top')
  i.fas.fa-angle-up
// Logout Modal
include ../layouts/modal-logout.pug

// add course modal
#addModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='addModalLabel' aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#addModalLabel.modal-title Th&ecirc;m gia&#x309;ng vi&ecirc;n
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        form(action="/admin/addLecture" method="POST" enctype="multipart/form-data")
          .form-group
            label(for='inputNameLecture') Tên giảng viên
            input#inputNameLecture.form-control(type='text' placeholder='Nhập tên giảng viên' name='inputNameLecture')
          .form-row
            .form-group.col-md-6
              label(for='inputEmailLecture') Email
              input#inputEmailLecture.form-control(name='inputEmailLecture' type='email' placeholder='Nhập email giảng viên')
            .form-group.col-md-6
              label(for='inputPhoneLecture') S&ocirc;&#x301; &dstrok;i&ecirc;&#x323;n thoa&#x323;i
              input#inputPhoneLecture.form-control(name='inputPhoneLecture' type='text' placeholder='Nhập số điện thoại')
          .form-group
            label(for='selectCategories') Lĩnh vực giảng dạy
            select#selectCategories.form-control(name='selectCategories')
              option(selected='' value='Lập trình Web') Lập trình Web
              option(value='Lập trình Mobile') Lập trình Mobile
              option(value='Lập trình Game') Lập trình Game
          .form-group
            label(for='avatarLecture') Ảnh đại diện
            input#avatarLecture.form-control-file(type='file' name='avatarLecture')
          .form-group
            label(for='inputDescLecture') Giới thiệu giảng viên
            textarea#inputDescLecture.form-control(rows='3' placeholder='Nhập giới thiệu giảng viên' name='inputDescLecture')
          hr
          .float-right
            button.btn.btn-secondary.mr-2(type='button' data-dismiss='modal') Đóng
            button.btn.btn-primary(type='submit') Thêm giảng viên
// end add modal course
// edit course modal
#editModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='editModalLabel' aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#editModalLabel.modal-title S&#x1B0;&#x309;a gia&#x309;ng vi&ecirc;n
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        form(method="POST" action="/admin/updateLecture?_method=PUT" enctype="multipart/form-data")
          .form-group
            input#idLecture(type="text" name="idLecture" hidden)
            input#avatar2(type="text" name="avatar2" hidden)
            label(for='inputEditNameLecture') Tên giảng viên
            input#inputEditNameLecture.form-control(type='text' value='' name='inputEditNameLecture')
          .form-row
            .form-group.col-md-6
              label(for='inputEditEmailLecture') Email
              input#inputEditEmailLecture.form-control(type='email' value='' name='inputEditEmailLecture')
            .form-group.col-md-6
              label(for='inputEditPhoneLecture') Số điện thoại
              input#inputEditPhoneLecture.form-control(type='text' value='' name='inputEditPhoneLecture')
          .form-group
            label(for='selectEditCategories') Lĩnh vực giảng dạy
            select#selectEditCategories.form-control(name='selectEditCategories')
              option(value='Lập trình Web') Lập trình Web
              option(value='Lập trình Mobile') Lập trình Mobile
              option(value='Lập trình Game') Lập trình Game
          .form-group
            label(for='editAvatarLecture') Ảnh đại diện
            input#editAvatarLecture.form-control-file(type='file' name='editAvatarLecture')
          .form-group
            label(for='inputEditDescLecture') Giới thiệu giảng viên
            textarea#inputEditDescLecture.form-control(rows='3' name='inputEditDescLecture')
          hr
          .float-right
            button.btn.btn-secondary.mr-2(type='button' data-dismiss='modal') Thoa&#x301;t
            button.btn.btn-primary(type='submit') Lưu
// end edit modal course
// Modal
#deleteModal.modal.fade(tabindex='-1' aria-labelledby='deleteModalLabel' aria-hidden='true')
  .modal-dialog
    
    .modal-content
      .modal-header
        h5#deleteModalLabel.modal-title Xóa giảng viên ?
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        #nameDelete
      .modal-footer
        form(action="/admin/deleteLecture?_method=DELETE" method="POST")
          input#idDelete(type="text" name='idDelete' hidden)
          button.btn.btn-danger.mr-2(type='submit') Xóa
          button.btn.btn-primary(type='button' data-dismiss='modal') Thoát

