doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='')
  title Thông tin cá nhân!
  // Custom fonts for this template
  link(href='/fontawesome/css/all.min.css' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' rel='stylesheet')
  // Custom styles for this template
  link(href='/bootstrap/css/bootstrap.min.css' rel='stylesheet')
  link(rel='stylesheet' href='/css/admin1.css ')
body#page-top
// Page Wrapper
#wrapper
  // Sidebar
  include ../layouts/admin/sidebar.pug
  // Content Wrapper
  #content-wrapper.d-flex.flex-column
    // Main Content
    #content
      // Topbar
      include ../layouts/admin/topbar.pug
      // Begin Page Content
      .container-fluid
        // Page Heading
        .d-sm-flex.align-items-center.justify-content-between.mb-4
          h1.h3.mb-0.text-gray-800 Th&ocirc;ng tin cu&#x309;a t&ocirc;i
        if admin.changePassword == true
          .alert.alert-success.text-center(role="alert")
            | Đổi mật khẩu thành công
        if admin.changePassword == false
          .alert.alert-danger.text-center(role="alert")
            | Đổi mật khẩu thất bại

          
        // Content Row
        .row.content.mt-5
          .col-xs-12.col-md-2.flex-column.d-flex.justify-content-center.align-items-center
            img.avatar.rounded-circle(src=admin.avatar)
            strong A&#x309;nh &dstrok;a&#x323;i di&ecirc;&#x323;n
          .col-xs-12.col-md-7.list-info
            ul
              li
                strong Ho&#x323; T&ecirc;n : 
                = admin.name
              li
                strong Email : 
                = admin.email
              li
                strong S&ocirc;&#x301; &Dstrok;i&ecirc;&#x323;n Thoa&#x323;i : 
                = admin.phone
              li
                strong Nga&#x300;y sinh : 
                = admin.birthday
              li
                strong Facebook : 
                = admin.facebook
            // Button trigger modal
            button.btn.btn-primary.ml-5(type='button' data-toggle='modal' data-target='#editInfo')
              | S&#x1B0;&#x309;a th&ocirc;ng tin
            button.btn.btn-info.ml-3(type='button' data-toggle='modal' data-target='#changePassword')
              | &Dstrok;&ocirc;&#x309;i m&acirc;&#x323;t kh&acirc;&#x309;u
          .col-md-3.col-sx-0
        // end rowconent
      // /.container-fluid
    // End of Main Content
    // Footer
    footer.sticky-footer.bg-white
      .container.my-auto
        .copyright.text-center.my-auto
          span Copyright &copy; Your Website 2020
    // End of Footer
  // End of Content Wrapper
// End of Page Wrapper
// Scroll to Top Button
a.scroll-to-top.rounded(href='#page-top')
  i.fas.fa-angle-up
// Logout Modal
include ../layouts/modal-logout.pug

// Modal Edit Info
#editInfo.modal.fade(tabindex='-1' aria-labelledby='editInfoLabel' aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h5#editInfoLabel.modal-title S&#x1B0;&#x309;a th&ocirc;ng tin
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        form(action='/admin/editInfo?_method=PUT' method='POST' enctype="multipart/form-data")
          input(type="hidden" name="id" value= admin._id)
          input(type="hidden" name="oldAvatar" value= admin.avatar)
          .form-group
            label(for='name') Ho&#x323; t&ecirc;n
            input#name.form-control(type='text' name='name' value=admin.name)
          .form-group
            label(for='email') Email
            input#email.form-control(type='email' name="email" value=admin.email)
          .form-group
            label(for='phone') S&ocirc;&#x301; &Dstrok;i&ecirc;&#x323;n Thoa&#x323;i
            input#phone.form-control(type='text' name='phone' pattern='((09|03|07|08|05)+([0-9]{8}))' value=admin.phone)
          .form-group
            label(for='birthday') Nga&#x300;y sinh
            input#birthday.form-control(type='text' name='birthday' value=admin.birthday)
          .form-group
            label(for='facebook') Facebook
            input#facebook.form-control(type='url' name='facebook' value=admin.facebook)
          .form-group
            label(for='avatar') A&#x309;nh &dstrok;a&#x323;i di&ecirc;&#x323;n
            input#avatar.form-control-file(type='file' name='avatar')
          br
          .modal-footer
            button.btn.btn-primary(type='submit') L&#x1B0;u
            button.btn.btn-secondary(type='button' data-dismiss='modal') Thoa&#x301;t
// Modal Change Passowrd
#changePassword.modal.fade(tabindex='-1' aria-labelledby='changePasswordLabel' aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h5#changePasswordLabel.modal-title &Dstrok;&ocirc;&#x309;i m&acirc;&#x323;t kh&acirc;&#x309;u
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        form#formChangePassword(action='/admin/changePassword?_method=PUT' method='POST')
          .form-group
            input(type="hidden" name="id" value= admin._id)
            label(for='password') M&acirc;&#x323;t kh&acirc;&#x309;u cu&#x303;
            input#password.form-control(type='text' name='password' placeholder='Nhập mật khẩu cũ')
          .form-group
            label(for='new_password') M&acirc;&#x323;t kh&acirc;&#x309;u m&#x1A1;&#x301;i
            input#new_password.form-control(type='text' name='new_password' placeholder='Nhập mật khẩu mới')
          .form-group
            label(for='password_confirm') Xa&#x301;c nh&acirc;&#x323;n la&#x323;i m&acirc;&#x323;t kh&acirc;&#x309;u
            input#password_confirm.form-control(type='text' name='password_confirm' placeholder='Xác nhận lại mật khẩu')
          br
          #message
          .modal-footer
            button.btn.btn-primary#btn-save(type='button') L&#x1B0;u
            button.btn.btn-secondary(type='button' data-dismiss='modal') Thoa&#x301;t
// Bootstrap core JavaScript
script(src='/jquery/jquery.min.js')
script(src='/bootstrap/js/bootstrap.bundle.min.js')
// Core plugin JavaScript
script(src='/jquery-easing/jquery.easing.min.js')
// Custom scripts for all pages
script(src='/javascripts/sb-admin-2.min.js')
script(src='/javascripts/info.js')
script(src='/javascripts/admin.js')
