doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='')
  title Trang qua&#x309;n tri&#x323;
  // Custom fonts for this template
  link(href='../fontawesome/css/all.min.css' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' rel='stylesheet')
  // Custom styles for this template
  link(href='../bootstrap/css/bootstrap.min.css' rel='stylesheet')
  link(rel='stylesheet' href='../css/admin1.css ')
  link(href='../datatables/dataTables.bootstrap4.min.css' rel='stylesheet')
  // Bootstrap core JavaScript
  script(defer src='../jquery/jquery.min.js')
  script(defer src='../bootstrap/js/bootstrap.bundle.min.js')
  // Core plugin JavaScript
  script(defer src='../jquery-easing/jquery.easing.min.js')
  // Custom scripts for all pages
  script(defer src='../javascripts/sb-admin-2.js')
  // Page level plugins
  script(defer src='../datatables/jquery.dataTables.min.js')
  script(defer src='../datatables/dataTables.bootstrap4.min.js')
  // Page level custom scripts
  script(defer src='../javascripts/admin-course.js')
  script(defer src='../javascripts/admin.js')
  
body#page-top
// Page Wrapper
#wrapper
  // Sidebar
  include ../layouts/admin/sidebar.pug
  // Content Wrapper
  #content-wrapper.d-flex.flex-column
    // Main Content
    #content
      // Topbar
      include ../layouts/admin/topbar.pug
      // End of Topbar
      // Begin Page Content
      .container-fluid
        // Page Heading
        h1.h3.mb-2.text-gray-800 Danh sa&#x301;ch kho&#x301;a ho&#x323;c
        p.mb-4 #{ courses.length } khóa học
        // DataTales Example
        .card.shadow.mb-4
          .card-header.py-3.add-something
            h6.m-0.font-weight-bold.text-primary
              | Danh sa&#x301;ch kho&#x301;a ho&#x323;c
            button.btn.btn-primary(data-toggle='modal' data-target='#addModal')
              i.fas.fa-book-medical
              |  Th&ecirc;m kho&#x301;a ho&#x323;c
          .card-body
            .table-responsive
              table#dataTable.table.table-bordered(width='100%' cellspacing='0')
                thead
                  tr
                    th Ảnh
                    th Tên khóa học
                    th Mô tả
                    th Trình độ
                    th Giảng viên
                    th Học viên
                    th Danh mục
                    th Thao tác
                
                tbody
                  each course in courses
                    tr
                      td
                        a(href=`/courses/${course.slug}`)
                          img(src=course.image width='130px')
                      td
                        a.text-dark(href=`/courses/${course.slug}`)
                          =course.name
                      td=course.description
                      td=course.level
                      td
                        p(hidden)=course.lecture.lectureId 
                        p(hidden) -
                        =course.lecture.name 
                      td #{course.listStudent.length} học viên
                      td=course.categories
                      td
                        .btn-group(role='group')
                          button.btn.btn-success.text-white.btn-edit(type='button' data-toggle='modal' data-target='#editModal')
                            i.far.fa-edit
                          button.btn.btn-danger.btn-delete(type='button' data-toggle='modal' data-target='#deleteModal')
                            i.far.fa-trash-alt
                          i(hidden)=course.videoId
                          i(hidden)=course._id
                      // 1 course
                
                  
      // /.container-fluid
    // End of Main Content
    // Footer
    footer.sticky-footer.bg-white
      .container.my-auto
        .copyright.text-center.my-auto
          span Copyright &copy; Your Website 2020
    // End of Footer
  // End of Content Wrapper
// End of Page Wrapper

// Scroll to Top Button
a.scroll-to-top.rounded(href='#page-top')
  i.fas.fa-angle-up

// Logout Modal
include ../layouts/modal-logout.pug

// add course modal
#addModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='addModalLabel' aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#addModalLabel.modal-title Thêm Khóa Học
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        form(method="POST" action="/admin/addCourse" enctype="multipart/form-data")
          .form-group
            label(for='inputNameCourse') Tên khóa học
            input#inputNameCourse.form-control(type='text' placeholder='Nhập tên khóa học' name="name")
          .form-row
            .form-group.col-md-6
              label(for='selectLevelCourse') Level
              select#selectLevelCourse.form-control.form-control-sm(name="level")
                option(value='Cơ bản' selected) Cơ bản
                option(value='Trung bình') Trung bình
                option(value='Nâng cao') Nâng cao
            .form-group.col-md-6
              label(for='selectCategories') Danh mục
              select#selectCategories.form-control.form-control-sm(name="categories")
                option(value="Lập trình Web" selected) Lập trình Web
                option(value="Lập trình Mobile") Lập trình Mobile
                option(value="Lập trình Game") Lập trình Game
          .form-group
            label(for='selectLecture') Giảng Viên
            select#selectLecture.form-control.form-control-sm(name="lecture")
              each lect, idx in lectures
                option(value=lect._id+'-'+lect.name ) #{idx+1} - #{lect.name}

        
          .form-group
            label(for='imgCourse') Ảnh mô tả
            input#imgCourse.form-control-file(type='file' name="image")
          .form-group
            label(for='inputDescCourse') Mô tả khóa học
            textarea#inputDescCourse.form-control(rows='3' placeholder='Nhập mô tả khóa học' name="description")
          .float-right
            button.btn.btn-secondary.mr-2(type='button' data-dismiss='modal')
              | Thoát
            button.btn.btn-primary(type='submit')
              | Thêm khóa học
// end add modal course



// edit course modal
#editModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='editModalLabel' aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#editModalLabel.modal-title Sửa khóa học
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        form(method="POST" action="/admin/editCourse?_method=PUT" enctype="multipart/form-data")
          .form-group
            input#idCourse(type="hidden" name='id')
            input#imgOld(type="hidden" name='imgOld')
            label(for='editNameCourse') Tên khóa học
            input#editNameCourse.form-control(type='text' placeholder='Nhập tên khóa học' name="name")
          .form-row
            .form-group.col-md-6
              label(for='editLevel') Level
              select#editLevel.form-control.form-control-sm(name="level")
                option(value='Cơ bản' selected) Cơ bản
                option(value='Trung bình') Trung bình
                option(value='Nâng cao') Nâng cao
            .form-group.col-md-6
              label(for='editCate') Danh mục
              select#editCate.form-control.form-control-sm(name="categories" required)
                option(value="Lập trình Web") Lập trình Web
                option(value="Lập trình Mobile") Lập trình Mobile
                option(value="Lập trình Game") Lập trình Game
          .form-group
            label(for='editLecture') Giảng Viên
            select#editLecture.form-control(name="lecture" required)
              each lect, idx in lectures
                option(value=lect._id+'-'+lect.name ) #{idx+1} - #{lect.name}

            .form-group
              label(for='editImg') Ảnh mô tả
              input#editImg.form-control-file(type='file' name="editImg")
          .form-group
            label(for='editDesc') Mô tả khóa học
            textarea#editDesc.form-control(rows='3' placeholder='Nhập mô tả khóa học' name="description")
          .float-right
            button.btn.btn-secondary.mr-2(type='button' data-dismiss='modal')
              | Thoát
            button.btn.btn-primary(type='submit')
              | Sửa khóa học
// end edit modal course


// Modal
#deleteModal.modal.fade(tabindex='-1' aria-labelledby='deleteModalLabel' aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h5#deleteModalLabel.modal-title Xo&#x301;a kho&#x301;a ho&#x323;c ?
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        #nameDelete
      .modal-footer
        form(method="POST" action="/admin/deleteCourse?_method=DELETE")
          input#idDelete(name="id" hidden)
          button.btn.btn-danger(type='submit') Xo&#x301;a
          button.btn.btn-primary.ml-2(type='button' data-dismiss='modal')
            | Kh&ocirc;ng