doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='')
  title Danh sách nộp bài tập
  // Custom fonts for this template
  link(href='/fontawesome/css/all.min.css' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' rel='stylesheet')
  // Custom styles for this template
  link(href='/bootstrap/css/bootstrap.min.css' rel='stylesheet')
  link(rel='stylesheet' href='/css/admin1.css ')
body#page-top
// Page Wrapper
#wrapper
  // Sidebar
  include ../layouts/lecturers/sidebar.pug
  // Content Wrapper
  #content-wrapper.d-flex.flex-column
    // Main Content
    #content
      // Topbar
      include ../layouts/lecturers/topbar.pug
      // Begin Page Content
      .container-fluid
        // Page Heading
        .d-sm-flex.align-items-center.justify-content-between.mb-4
          h1.h3.mb-0.text-gray-800 Danh sách nộp bài tập
          
        // Content Row
        .row.content.mt-5
          table.table
            thead
              tr
                th(scope='col') Tên Môn Học
                th(scope='col') Tên Học Viên
                th(scope='col') Nội dung
                th(scope='col') File đính kèm
                th(scope='col') Nhận xét của giảng viên
                th(scope='col')
            tbody
              each list in listHomeworks
                each hw in list
                  tr
                    td= hw.idCourse.name
                    td= hw.idStudent.name
                    td= hw.content
                    td
                      a(href= hw.path) Tải xuống  
                    td
                      button.btn.btn-primary.btn-comment.mr-2(type='button' data-toggle='modal' data-target='#writeComment')
                        i.far.fa-comment-alt
                      i(hidden)= hw._id
                      i(hidden)= hw.idStudent._id
                      if !hw.comment
                        |Chưa có nhận xét.
                      if hw.comment
                        | #{hw.comment}
             
          .col-md-3.col-sx-0
        // end rowconent
      // /.container-fluid
    // End of Main Content
    // Footer
    footer.sticky-footer.bg-white
      .container.my-auto
        .copyright.text-center.my-auto
          span Copyright &copy; Your Website 2020
    // End of Footer
  // End of Content Wrapper
// End of Page Wrapper
// Scroll to Top Button
a.scroll-to-top.rounded(href='#page-top')
a.scroll-to-top.rounded(href='#page-top')
  i.fas.fa-angle-up
// Logout Modal
include ../layouts/modal-logout.pug
#writeComment.modal.fade(tabindex='-1' aria-labelledby='writeCommentLabel' aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h5#writeCommentLabel.modal-title Viết nhận xét
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        form(method="POST" action="/lecture/commentHomework?_method=PATCH")
          input#idHomework(type="hidden" name="id")
          input(type="hidden" name="idUserSend" value=lect._id)
          input#idUserReceived(type="hidden" name="idUserReceived")
          .form-group
            label(for='comment') Viết nhận xét
            textarea#comment.form-control(rows='3' name="comment" required)

          .modal-footer
            button.btn.btn-secondary(type='button' data-dismiss='modal') Thoát
            button.btn.btn-primary(type='submit') Gửi
// Bootstrap core JavaScript
script(src='/jquery/jquery.min.js')
script(src='/bootstrap/js/bootstrap.bundle.min.js')
// Core plugin JavaScript
script(src='/jquery-easing/jquery.easing.min.js')
// Custom scripts for all pages
script(src='/javascripts/sb-admin-2.min.js')
script(src='/javascripts/lecture-homework.js')
script(src='/javascripts/adlecture.js')