doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='')
  title Danh sách nộp bài tập
  // Custom fonts for this template
  link(href='/fontawesome/css/all.min.css' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' rel='stylesheet')
  // Custom styles for this template
  link(href='/bootstrap/css/bootstrap.min.css' rel='stylesheet')
  link(rel='stylesheet' href='/css/admin1.css ')
body#page-top
// Page Wrapper
#wrapper
  // Sidebar
  ul#accordionSidebar.navbar-nav.bg-gradient-primary.sidebar.sidebar-dark.accordion
    // Sidebar - Brand
    a.sidebar-brand.d-flex.align-items-center.justify-content-center(href=`/lecture/${lect._id}`)
      .sidebar-brand-icon.rotate-n-15
        i.fas.fa-laugh-wink
      .sidebar-brand-text.mx-3 LMS Lecture
    // Divider
    hr.sidebar-divider.my-0
    hr
    // Nav Item - Dashboard
    li.nav-item.active
      a.nav-link(href=`/lecture/${lect._id}`)
        i.fas.fa-chalkboard-teacher
        span Xin chào 
          = lect.name + ' !'
    // Divider
    hr.sidebar-divider
    li.nav-item
      a.nav-link(href=`/lecture/${lect._id}`)
        i.fas.fa-tachometer-alt
        span Dashboard
    // Divider
    hr.sidebar-divider
    // Nav Item - Quản lý khóa học
    li.nav-item
      a.nav-link(href=`/lecture/${lect._id}#my-courses`)
        i.fas.fa-book
        span Qua&#x309;n ly&#x301; kho&#x301;a ho&#x323;c

    // Nav Item - Pages Collapse Menu
    li.nav-item
      a.nav-link.collapsed(href='#')
        i.far.fa-user
        span Th&ocirc;ng tin cu&#x309;a ba&#x323;n
      
    // Nav Item - Utilities Collapse Menu
    li.nav-item
      a.nav-link(href='/lecture/homework/' + lect.id)
        i.fas.fa-list
        span Danh sách nộp bài tập
    // Divider
    hr.sidebar-divider
    // Nav Item - Tables
    li.nav-item
      a.nav-link(href='#' data-toggle='modal' data-target='#logoutModal')
        i.fas.fa-sign-out-alt
        span &Dstrok;&abreve;ng xu&acirc;&#x301;t
    // Divider
    hr.sidebar-divider.d-none.d-md-block
    // Sidebar Toggler (Sidebar)
    .text-center.d-none.d-md-inline
      button#sidebarToggle.rounded-circle.border-0
  // End of Sidebar
  // Content Wrapper
  #content-wrapper.d-flex.flex-column
    // Main Content
    #content
      // Topbar
      nav.navbar.navbar-expand.navbar-light.bg-white.topbar.mb-4.static-top.shadow
        // Sidebar Toggle (Topbar)
        button#sidebarToggleTop.btn.btn-link.d-md-none.rounded-circle.mr-3
          i.fa.fa-bars
        // Topbar Search
        form.d-none.d-sm-inline-block.form-inline.mr-auto.ml-md-3.my-2.my-md-0.mw-100.navbar-search
          .input-group
            input.form-control.bg-light.border-0.small(type='text' placeholder='Search for...' aria-label='Search' aria-describedby='basic-addon2')
            .input-group-append
              button.btn.btn-primary(type='button')
                i.fas.fa-search.fa-sm
        // Topbar Navbar
        ul.navbar-nav.ml-auto
          // Nav Item - Search Dropdown (Visible Only XS)
          li.nav-item.dropdown.no-arrow.d-sm-none
            a#searchDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
              i.fas.fa-search.fa-fw
            // Dropdown - Messages
            .dropdown-menu.dropdown-menu-right.p-3.shadow.animated--grow-in(aria-labelledby='searchDropdown')
              form.form-inline.mr-auto.w-100.navbar-search
                .input-group
                  input.form-control.bg-light.border-0.small(type='text' placeholder='Search for...' aria-label='Search' aria-describedby='basic-addon2')
                  .input-group-append
                    button.btn.btn-primary(type='button')
                      i.fas.fa-search.fa-sm
          
          // Nav Item - User Information
          li.nav-item.dropdown.no-arrow
            a#userDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
              span.mr-2.d-none.d-lg-inline.text-gray-600.small= lect.name
              img.img-profile.rounded-circle(src= lect.avatar)
            // Dropdown - User Information
            .dropdown-menu.dropdown-menu-right.shadow.animated--grow-in(aria-labelledby='userDropdown')
              a.dropdown-item(href=`/lecture/info/${lect._id}`)
                i.fas.fa-user.fa-sm.fa-fw.mr-2.text-gray-400
                |                     Profile
              .dropdown-divider
              a.dropdown-item(href='#' data-toggle='modal' data-target='#logoutModal')
                i.fas.fa-sign-out-alt.fa-sm.fa-fw.mr-2.text-gray-400
                |                     Logout
      // End of Topbar
      // Begin Page Content
      .container-fluid
        // Page Heading
        .d-sm-flex.align-items-center.justify-content-between.mb-4
          h1.h3.mb-0.text-gray-800 Danh sách nộp bài tập
          
        // Content Row
        .row.content.mt-5
          table.table
            thead
              tr
                th(scope='col') Tên Môn Học
                th(scope='col') Tên Học Viên
                th(scope='col') Nội dung
                th(scope='col') File đính kèm
                th(scope='col') Nhận xét của giảng viên
                th(scope='col')
            tbody
              each list in listHomeworks
                each hw in list
                  tr
                    td= hw.idCourse.name
                    td= hw.idStudent.name
                    td= hw.content
                    td
                      a(href= hw.path) Tải xuống  
                    td
                      button.btn.btn-primary.btn-comment.mr-2(type='button' data-toggle='modal' data-target='#writeComment')
                        i.far.fa-comment-alt
                      i(hidden)= hw._id
                      i(hidden)= hw.idStudent._id
                      if !hw.comment
                        |Chưa có nhận xét.
                      if hw.comment
                        | #{hw.comment}
             
          .col-md-3.col-sx-0
        // end rowconent
      // /.container-fluid
    // End of Main Content
    // Footer
    footer.sticky-footer.bg-white
      .container.my-auto
        .copyright.text-center.my-auto
          span Copyright &copy; Your Website 2020
    // End of Footer
  // End of Content Wrapper
// End of Page Wrapper
// Scroll to Top Button
a.scroll-to-top.rounded(href='#page-top')
a.scroll-to-top.rounded(href='#page-top')
  i.fas.fa-angle-up
// Logout Modal
include ../layouts/modal-logout.pug
#writeComment.modal.fade(tabindex='-1' aria-labelledby='writeCommentLabel' aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h5#writeCommentLabel.modal-title Viết nhận xét
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        form(method="POST" action="/lecture/commentHomework?_method=PATCH")
          input#idHomework(type="hidden" name="id")
          input(type="hidden" name="idUserSend" value=lect._id)
          input#idUserReceived(type="hidden" name="idUserReceived")
          .form-group
            label(for='comment') Viết nhận xét
            textarea#comment.form-control(rows='3' name="comment" required)

          .modal-footer
            button.btn.btn-secondary(type='button' data-dismiss='modal') Thoát
            button.btn.btn-primary(type='submit') Gửi
// Bootstrap core JavaScript
script(src='/jquery/jquery.min.js')
script(src='/bootstrap/js/bootstrap.bundle.min.js')
// Core plugin JavaScript
script(src='/jquery-easing/jquery.easing.min.js')
// Custom scripts for all pages
script(src='/javascripts/sb-admin-2.min.js')
script(src='/javascripts/lecture-homework.js')
