doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='')
  title Khóa học #{ course.name }
  // Custom fonts for this template
  link(href='/fontawesome/css/all.min.css' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' rel='stylesheet')
  // Custom styles for this template
  link(href='/bootstrap/css/bootstrap.min.css' rel='stylesheet')
  link(rel='stylesheet' href='/css/lecture-detail-course.css')
// Page Wrapper
body#page-top
#wrapper
  // Sidebar
  ul#accordionSidebar.navbar-nav.bg-gradient-primary.sidebar.sidebar-dark.accordion
    // Sidebar - Brand
    a.sidebar-brand.d-flex.align-items-center.justify-content-center(href=`/lecture/${course.lecture.lectureId._id}`)
      .sidebar-brand-icon.rotate-n-15
        i.fas.fa-laugh-wink
      .sidebar-brand-text.mx-3 LMS Lecture
    // Divider
    hr.sidebar-divider.my-0
    hr
    // Nav Item - Dashboard
    li.nav-item.active
      a.nav-link(href=`/lecture/${course.lecture.lectureId._id}`)
        i.fas.fa-chalkboard-teacher
        span Xin chào #{course.lecture.name} !
    // Divider
    hr.sidebar-divider
    li.nav-item
      a.nav-link(href=`/lecture/${course.lecture.lectureId._id}`)
        i.fas.fa-tachometer-alt
        span Dashboard
    // Divider
    hr.sidebar-divider
    // Nav Item - Quản lý khóa học
    li.nav-item
      a.nav-link(href=`/lecture/${course.lecture.lectureId._id}`)
        i.fas.fa-book
        span Qua&#x309;n ly&#x301; kho&#x301;a ho&#x323;c

    // Nav Item - Pages Collapse Menu
    li.nav-item
      a.nav-link.collapsed(href=`/lecture/info/${course.lecture.lectureId._id}`)
        i.far.fa-user
        span Th&ocirc;ng tin cu&#x309;a ba&#x323;n
      
    // Nav Item - Utilities Collapse Menu
    li.nav-item
      a.nav-link(href='#')
        i.fas.fa-bell
        span Th&ocirc;ng ba&#x301;o
    // Divider
    hr.sidebar-divider
    // Nav Item - Tables
    li.nav-item
      a.nav-link(href='#' data-toggle='modal' data-target='#logoutModal')
        i.fas.fa-sign-out-alt
        span &Dstrok;&abreve;ng xu&acirc;&#x301;t
    // Divider
    hr.sidebar-divider.d-none.d-md-block
    // Sidebar Toggler (Sidebar)
    .text-center.d-none.d-md-inline
      button#sidebarToggle.rounded-circle.border-0
  // End of Sidebar
  // Content Wrapper
  #content-wrapper.d-flex.flex-column
    // Main Content
    #content
      // Topbar
      nav.navbar.navbar-expand.navbar-light.bg-white.topbar.mb-4.static-top.shadow
        // Sidebar Toggle (Topbar)
        button#sidebarToggleTop.btn.btn-link.d-md-none.rounded-circle.mr-3
          i.fa.fa-bars
        // Topbar Search
        form.d-none.d-sm-inline-block.form-inline.mr-auto.ml-md-3.my-2.my-md-0.mw-100.navbar-search
          .input-group
            input.form-control.bg-light.border-0.small#inputSearch(type='text' placeholder='Search for...' aria-label='Search' aria-describedby='basic-addon2' name="search")
            .input-group-append
              button.btn.btn-primary#btnSearch(type='button')
                i.fas.fa-search.fa-sm
        // Topbar Navbar
        ul.navbar-nav.ml-auto
          // Nav Item - Search Dropdown (Visible Only XS)
          li.nav-item.dropdown.no-arrow.d-sm-none
            a#searchDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
              i.fas.fa-search.fa-fw
            // Dropdown - Messages
            .dropdown-menu.dropdown-menu-right.p-3.shadow.animated--grow-in(aria-labelledby='searchDropdown')
              form.form-inline.mr-auto.w-100.navbar-search
                .input-group
                  input.form-control.bg-light.border-0.small(type='text' placeholder='Search for...' aria-label='Search' aria-describedby='basic-addon2')
                  .input-group-append
                    button.btn.btn-primary(type='button')
                      i.fas.fa-search.fa-sm
          // Nav Item - Alerts
          li.nav-item.dropdown.no-arrow.mx-1
            a#alertsDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
              i.fas.fa-bell.fa-fw
              // Counter - Alerts
              span.badge.badge-danger.badge-counter 3+
            // Dropdown - Alerts
            .dropdown-list.dropdown-menu.dropdown-menu-right.shadow.animated--grow-in(aria-labelledby='alertsDropdown')
              h6.dropdown-header
                | Alerts Center
              a.dropdown-item.d-flex.align-items-center(href='#')
                .mr-3
                  .icon-circle.bg-primary
                    i.fas.fa-file-alt.text-white
                div
                  .small.text-gray-500 December 12, 2019
                  span.font-weight-bold A new monthly report is ready to download!
              a.dropdown-item.d-flex.align-items-center(href='#')
                .mr-3
                  .icon-circle.bg-success
                    i.fas.fa-donate.text-white
                div
                  .small.text-gray-500 December 7, 2019
                  |                     $290.29 has been deposited into your account!
              a.dropdown-item.d-flex.align-items-center(href='#')
                .mr-3
                  .icon-circle.bg-warning
                    i.fas.fa-exclamation-triangle.text-white
                div
                  .small.text-gray-500 December 2, 2019
                  |                     Spending Alert: We&apos;ve noticed unusually high spending for your account.
              a.dropdown-item.text-center.small.text-gray-500(href='#') Show All Alerts
          // Nav Item - Messages
          li.nav-item.dropdown.no-arrow.mx-1
            a#messagesDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
              i.fas.fa-envelope.fa-fw
              // Counter - Messages
              span.badge.badge-danger.badge-counter 7
            // Dropdown - Messages
            .dropdown-list.dropdown-menu.dropdown-menu-right.shadow.animated--grow-in(aria-labelledby='messagesDropdown')
              h6.dropdown-header
                | Message Center
              a.dropdown-item.d-flex.align-items-center(href='#')
                .dropdown-list-image.mr-3
                  img.rounded-circle(src='https://source.unsplash.com/fn_BT9fwg_E/60x60' alt='')
                  .status-indicator.bg-success
                .font-weight-bold
                  .text-truncate Hi there! I am wondering if you can help me with a problem I&apos;ve been having.
                  .small.text-gray-500 Emily Fowler &middot; 58m
              a.dropdown-item.d-flex.align-items-center(href='#')
                .dropdown-list-image.mr-3
                  img.rounded-circle(src='https://source.unsplash.com/AU4VPcFN4LE/60x60' alt='')
                  .status-indicator
                div
                  .text-truncate
                    | I have the photos that you ordered last month, how would you like them sent to you?
                  .small.text-gray-500 Jae Chun &middot; 1d
              a.dropdown-item.d-flex.align-items-center(href='#')
                .dropdown-list-image.mr-3
                  img.rounded-circle(src='https://source.unsplash.com/CS2uCrpNzJY/60x60' alt='')
                  .status-indicator.bg-warning
                div
                  .text-truncate
                    | Last month&apos;s report looks great, I am very happy with the progress so far, keep up the good work!
                  .small.text-gray-500 Morgan Alvarez &middot; 2d
              a.dropdown-item.d-flex.align-items-center(href='#')
                .dropdown-list-image.mr-3
                  img.rounded-circle(src='https://source.unsplash.com/Mv9hjnEUHR4/60x60' alt='')
                  .status-indicator.bg-success
                div
                  .text-truncate
                    | Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren&apos;t good...
                  .small.text-gray-500 Chicken the Dog &middot; 2w
              a.dropdown-item.text-center.small.text-gray-500(href='#') Read More Messages
          .topbar-divider.d-none.d-sm-block
          // Nav Item - User Information
          li.nav-item.dropdown.no-arrow
            a#userDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
              span.mr-2.d-none.d-lg-inline.text-gray-600.small= course.lecture.name
              img.img-profile.rounded-circle(src= course.lecture.lectureId.avatar)
            // Dropdown - User Information
            .dropdown-menu.dropdown-menu-right.shadow.animated--grow-in(aria-labelledby='userDropdown')
              a.dropdown-item(href=`/lecture/info/${course.lecture.lectureId._id}`)
                i.fas.fa-user.fa-sm.fa-fw.mr-2.text-gray-400
                |                     Profile
              .dropdown-divider
              a.dropdown-item(href='#' data-toggle='modal' data-target='#logoutModal')
                i.fas.fa-sign-out-alt.fa-sm.fa-fw.mr-2.text-gray-400
                |                     Logout
      // End of Topbar
      // Begin Page Content
      .container-fluid
        // Content Row
        .row.content
          .col-md-7.col-sm-12.left-content
            h3.my-4 #{ course.name }
            p.description #{ course.description }
            .my-2.you-can-learn
              .group-header.d-flex.justify-content-between
                h4 Ba&#x323;n se&#x303; ho&#x323;c &dstrok;&#x1B0;&#x1A1;&#x323;c gi&#x300;
                button.btn.btn-primary.mr-1(type='button' data-toggle='modal' data-target='#addYouCanLearn')
                  | Th&ecirc;m
              section
                ul
                  each item in course.youCanLearn
                    li.d-flex.justify-content-between.align-items-center
                      span
                        i.fas.fa-check
                        = item.content
                      .btn-group(role='group' aria-label='Basic example')
                        button.btn.btn-warning.btn-edit(type='button' data-toggle='modal' data-target='#editYouCanLearn')
                          i.far.fa-edit
                        button.btn.btn-danger.btn-delete(type='button' data-toggle='modal' data-target='#deleteYouCanLearn')
                          i.far.fa-trash-alt
                        span(hidden)=item._id
                  
                  
            .content-course
              h4.my-3 N&ocirc;&#x323;i dung kho&#x301;a ho&#x323;c
              #accordionCourseDetails.accordion
                .card.shadow-sm
                  #headingOne.card-header.d-flex.justify-content-between
                    h2.mb-0
                      button.btn.btn-link.btn-block.text-left(type='button' data-toggle='collapse' data-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
                        strong Ba&#x300;i gia&#x309;ng
                    button.btn.btn-primary(type='button' data-toggle='modal' data-target='#addLesson')
                      | Th&ecirc;m ba&#x300;i gia&#x309;ng
                  #collapseOne.collapse.show(aria-labelledby='headingOne' data-parent='#accordionCourseDetails')
                    .card-body
                      ul.list-content
                        each lesson in course.lessons
                          li.d-flex.justify-content-between.align-items-center
                            a(href=lesson.path)= lesson.title
                            .btn-group(role='group' aria-label='Basic example')
                              button.btn.btn-warning.editLesson(type='button' data-toggle='modal' data-target='#editLesson')
                                i.far.fa-edit
                              button.btn.btn-danger.deleteLesson(type='button' data-toggle='modal' data-target='#deleteLesson')
                                i.far.fa-trash-alt
                              span(hidden)= lesson._id  
                        
                       
                .card.shadow-sm
                  #headingTwo.card-header.d-flex.justify-content-between
                    h2.mb-0
                      button.btn.btn-link.btn-block.text-left.collapsed(type='button' data-toggle='collapse' data-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo')
                        strong Ba&#x300;i t&acirc;&#x323;p
                    button.btn.btn-primary(type='button' data-toggle='modal' data-target='#addExp')
                      | Th&ecirc;m ba&#x300;i t&acirc;&#x323;p
                  #collapseTwo.collapse(aria-labelledby='headingTwo' data-parent='#accordionCourseDetails')
                    .card-body
                      ul.list-content
                        each hw in course.homeworks
                          li.d-flex.justify-content-between.align-items-center
                            a(href= hw.path)= hw.title
                            .btn-group(role='group' aria-label='Basic example')
                              button.btn.btn-warning.editHW(type='button' data-toggle='modal' data-target='#editExp')
                                i.far.fa-edit
                              button.btn.btn-danger.deleteHW(type='button' data-toggle='modal' data-target='#deleteExp')
                                i.far.fa-trash-alt
                              span(hidden)= hw._id
                        
                .card.shadow-sm
                  #headingThree.card-header.d-flex.justify-content-between
                    h2.mb-0
                      button.btn.btn-link.btn-block.text-left.collapsed(type='button' data-toggle='collapse' data-target='#collapseThree' aria-expanded='false' aria-controls='collapseThree')
                        strong Ta&#x300;i li&ecirc;&#x323;u tham kha&#x309;o
                    button.btn.btn-primary(type='button' data-toggle='modal' data-target='#addRef')
                      | Th&ecirc;m ta&#x300;i li&ecirc;&#x323;u tham kha&#x309;o
                  #collapseThree.collapse(aria-labelledby='headingThree' data-parent='#accordionCourseDetails')
                    .card-body
                      ul.list-content
                        each doc in course.documents
                          li.d-flex.justify-content-between.align-items-center
                            a(href= doc.path)= doc.title
                            .btn-group(role='group' aria-label='Basic example')
                              button.btn.btn-warning.editDoc(type='button' data-toggle='modal' data-target='#editRef')
                                i.far.fa-edit
                              button.btn.btn-danger.deleteDoc(type='button' data-toggle='modal' data-target='#deleteRef')
                                i.far.fa-trash-alt  
                              span(hidden)= doc._id
                        
                       
            #requirement-course.course-requiment.mt-4
              .group-header.d-flex.justify-content-between.my-3
                h4 Y&ecirc;u c&acirc;&#x300;u
                button.btn.btn-primary.mr-1(type='button' data-toggle='modal' data-target='#addRequiment')
                  | Thêm
              ul
                each re in course.requirements
                  li.d-flex.justify-content-between.align-items-center
                    span
                      i.fas.fa-check
                      | #{ re.content }
                    .btn-group(role='group' aria-label='Basic example')
                      button.btn.btn-warning.editRequirement(type='button' data-toggle='modal' data-target='#editRequirement')
                        i.far.fa-edit
                      button.btn.btn-danger.deleteRequirement(type='button' data-toggle='modal' data-target='#deleteRequirement')
                        i.far.fa-trash-alt
                      span(hidden)= re._id
                
            .info-lecture.shadow-sm
              h4.mb-3 Thông tin giảng viên
              .media
                img.mr-3.rounded-circle(src=course.lecture.lectureId.avatar alt=course.lecture.name)
                .media-body
                  h5.mt-0=course.lecture.name
                  span.lecture-desc=course.lecture.lectureId.description
            .block-rating
              h4.my-3 Bi&#x300;nh lu&acirc;&#x323;n
              .box-comment
                form#formComment(action='/lecture/addComment' method='POST')
                  input(type="hidden" name='idUser' value= course.lecture.lectureId._id)
                  input(type="hidden" name='idCourse' value=course._id)
                  .media
                    img.mr-3.rounded-circle(src= course.lecture.lectureId.avatar alt=course.lecture.name)
                    .media-body
                      .form-group
                        textarea#input-comment.form-control(rows='3' placeholder='Cảm nhận của bạn ?' name="content")
                  .block-button
                    .btn.btn-primary#btn-submit(type="submit") Bi&#x300;nh lu&acirc;&#x323;n
                    .btn.btn-secondary.ml-2 Hu&#x309;y
              hr
              ul.list-unstyled
                each cmt in comments
                  li.media.border-bottom.py-2
                    img.mr-3.rounded-circle(src= cmt.idUser.avatar alt= cmt.idUser.name)
                    .media-body
                      h6.mt-0.mb-1= cmt.idUser.name
                      p= cmt.content
                      span  
                
               
          .col-md-4.col-sm-12.right-content
            .card.shadow
              .image-play
                img.card-img-top(src= course.image alt='...' data-toggle='modal' data-target='#previewCourse')
                i.fas.fa-play-circle
              .card-body
                a.btn.btn-block.btn-success(href='#' data-toggle='modal' data-target='#previewCourse') Xem gi&#x1A1;&#x301;i thi&ecirc;&#x323;u
                ul.mt-3
                  li
                    i.fas.fa-tachometer-alt
                    | Trình độ #{course.level}
                  li
                    i.fas.fa-list
                    | N&ocirc;&#x323;i dung &dstrok;&#x1B0;&#x1A1;&#x323;c bi&ecirc;n soa&#x323;n khoa ho&#x323;c
                  li
                    i.fas.fa-chalkboard-teacher
                    | Gia&#x309;ng vi&ecirc;n co&#x301; chuy&ecirc;n
                    |                       m&ocirc;n cao
        // end rowconent
      // /.container-fluid
    // End of Main Content
    // Footer
    footer.sticky-footer.bg-white
      .container.my-auto
        .copyright.text-center.my-auto
          span Copyright &copy; Your Website 2020
    // End of Footer
  // End of Content Wrapper
// End of Page Wrapper
// Scroll to Top Button
a.scroll-to-top.rounded(href='#page-top')
  i.fas.fa-angle-up
// Logout Modal
include ../layouts/modal-logout.pug
.row
  .col-sm-4.col-md-6
    #previewCourse.modal.fade(tabindex='-1' aria-labelledby='previewCourseLabel' aria-hidden='true')
      .modal-dialog.modal-dialog-centered.modal-lg
        .modal-content
          .modal-header
            h5#previewCourseLabel.modal-title #{ course.name }
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') &times;
          .modal-body
            iframe.preVideo(src=`https://www.youtube.com/embed/${course.videoId}?enablejsapi=1&version=3&playerapiid=ytplayer` frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')




// add you can learn
#addYouCanLearn.modal.fade(tabindex='-1' aria-labelledby='addYouCanLearnLabel' aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h5#addYouCanLearnLabel.modal-title Bạn sẽ học được gì?
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        form(action='/lecture/courses/addYouCanLearn' method='POST')
          input(type="text", name="idCourse" value= course._id)
          .form-group
            textarea#inputYouCanLearn.form-control(rows='3' placeholder='Bạn sẽ học được gì ?' name="content")
          .modal-footer
            button.btn.btn-secondary(type='button' data-dismiss='modal') &Dstrok;o&#x301;ng
            button.btn.btn-primary(type='submit') L&#x1B0;u
// Edit you can learn
#editYouCanLearn.modal.fade(tabindex='-1' aria-labelledby='editYouCanLearnLabel' aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h5#editYouCanLearnLabel.modal-title S&#x1B0;&#x309;a th&ocirc;ng tin
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        form(action='/lecture/courses/editYouCanLearn?_method=PUT' method='POST')
          input#idYouCanLearn(name='id' type="hidden")
          .form-group
            textarea#editContent.form-control(rows='3' placeholder='Bạn sẽ học được gì ?' name='content')
          .modal-footer
            button.btn.btn-secondary(type='button' data-dismiss='modal') &Dstrok;o&#x301;ng
            button.btn.btn-primary(type='submit') L&#x1B0;u
// Delete You can learn
#deleteYouCanLearn.modal.fade(tabindex='-1' aria-labelledby='deleteYouCanLearnLabel' aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h5#deleteYouCanLearnLabel.modal-title Xo&#x301;a th&ocirc;ng tin
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        form(action='/lecture/courses/deleteYouCanLearn?_method=DELETE' method='POST')
          input#idDeleteYouCanLearn(name='id' type="hidden")
          input(name='idCourse' value=course._id type="hidden")
          #contentDelete
          .modal-footer.mt-3
            button.btn.btn-secondary(type='button' data-dismiss='modal') &Dstrok;o&#x301;ng
            button.btn.btn-danger(type='submit') Xo&#x301;a
// Add bài giảng
#addLesson.modal.fade(tabindex='-1' aria-labelledby='addLessonLabel' aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h5#addLessonLabel.modal-title Th&ecirc;m ba&#x300;i gia&#x309;ng
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        form(action='/lecture/courses/addLesson' method='POST' enctype="multipart/form-data")
          input(type="hidden", name="idCourse" value= course._id)
          .form-group
            label(for='titleLesson') T&ecirc;n ba&#x300;i gia&#x309;ng
            input#titleLesson.form-control(type='text' name='title')
          .form-group
            label(for='fileLesson') File ba&#x300;i gia&#x309;ng
            input#fileLesson.form-control-file(type='file' name='fileLesson')
          .modal-footer
            button.btn.btn-secondary(type='button' data-dismiss='modal') &Dstrok;o&#x301;ng
            button.btn.btn-primary(type='submit') L&#x1B0;u
// Edit bài giảng
#editLesson.modal.fade(tabindex='-1' aria-labelledby='editLessonLabel' aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h5#editLessonLabel.modal-title S&#x1B0;&#x309;a ba&#x300;i gia&#x309;ng
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        form(action='/lecture/courses/editLesson?_method=PUT' method='POST' enctype="multipart/form-data")
          input#oldPath(type="hidden" name='oldPath')
          input#idLesson(type="hidden" name='id')
          .form-group
            label(for='editTitleLesson') T&ecirc;n ba&#x300;i gia&#x309;ng
            input#editTitleLesson.form-control(type='text' name='title')
          .form-group
            label(for='fileLesson') File ba&#x300;i gia&#x309;ng
            input#fileLesson.form-control-file(type='file' name="fileLesson")
          .modal-footer
            button.btn.btn-secondary(type='button' data-dismiss='modal') &Dstrok;o&#x301;ng
            button.btn.btn-primary(type='submit') L&#x1B0;u
// Delete Lesson
#deleteLesson.modal.fade(tabindex='-1' aria-labelledby='deleteLessonLabel' aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h5#deleteLessonLabel.modal-title Xo&#x301;a ba&#x300;i gia&#x309;ng
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        form(action='/lecture/courses/deleteLesson?_method=DELETE' method='POST')
          input(type="hidden" name='idCourse' value=course._id)
          input#idDeleteLesson(type="hidden" name='id')
          label#contentLesson
          .modal-footer.mt-3
            button.btn.btn-secondary(type='button' data-dismiss='modal') &Dstrok;o&#x301;ng
            button.btn.btn-danger(type='submit') Xo&#x301;a
// Add bài tập
#addExp.modal.fade(tabindex='-1' aria-labelledby='addExpLabel' aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h5#addExpLabel.modal-title Th&ecirc;m ba&#x300;i t&acirc;&#x323;p
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        form(action='/lecture/courses/addHomeWork' method='POST' enctype="multipart/form-data")
          .form-group
            input(type="hidden" name="idCourse" value=course._id)
            label(for='titleHomeWork') Tên bài tập
            input#titleHomeWork.form-control(type='text' name="title")
          .form-group
            label(for='fileHomeWork') File bài tập
            input#fileHomeWork.form-control-file(type='file' name="fileHomeWork")
          .modal-footer
            button.btn.btn-secondary(type='button' data-dismiss='modal') &Dstrok;o&#x301;ng
            button.btn.btn-primary(type='submit') L&#x1B0;u
// Edit bài tập
#editExp.modal.fade(tabindex='-1' aria-labelledby='editExpLabel' aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h5#editExpLabel.modal-title S&#x1B0;&#x309;a ba&#x300;i t&acirc;&#x323;p
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        form(action='/lecture/courses/editHomeWork?_method=PUT' method='POST' enctype="multipart/form-data")
          input#idHomeWork(type="hidden" name="id")
          input#oldPathHW(type="hidden" name="oldPathHW")
          .form-group
            label(for='editTitleHW') Tên bài tập
            input#editTitleHW.form-control(type='text' name="title")
          .form-group
            label(for='fileHomeWork') File bài tập
            input#fileHomeWork.form-control-file(type='file' name="fileHomeWork")
          .modal-footer
            button.btn.btn-secondary(type='button' data-dismiss='modal') &Dstrok;o&#x301;ng
            button.btn.btn-primary(type='submit') L&#x1B0;u
// Delete Exp
#deleteExp.modal.fade(tabindex='-1' aria-labelledby='deleteExpLabel' aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h5#deleteExpLabel.modal-title Xo&#x301;a ba&#x300;i t&acirc;&#x323;p
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        form(action='/lecture/courses/deleteHomeWork?_method=DELETE' method='POST')
          input(type="hidden" name="idCourse" value= course._id)
          input#idDeleteHW(type="hidden" name="id")
          #contentHomeWork
          .modal-footer.mt-3
            button.btn.btn-secondary(type='button' data-dismiss='modal') &Dstrok;o&#x301;ng
            button.btn.btn-danger(type='submit') Xo&#x301;a
// Add tài liệu tham khảo
#addRef.modal.fade(tabindex='-1' aria-labelledby='addRefLabel' aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h5#addRefLabel.modal-title Thêm tài liệu tham khảo
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        form(action='/lecture/courses/addDocument' method='POST' enctype="multipart/form-data")
          input(type="hidden" name="idCourse" value= course._id)
          .form-group
            label(for='nameDocument') Tên tài liệu tham khảo
            input#nameDocument.form-control(type='text' name="title")
          .form-group
            label(for='fileDocument') File tài liệu tham khảo
            input#fileDocument.form-control-file(type='file' name="fileDocument")
          .modal-footer
            button.btn.btn-secondary(type='button' data-dismiss='modal') &Dstrok;o&#x301;ng
            button.btn.btn-primary(type='submit') L&#x1B0;u
// Edit tài liệu tham khảo
#editRef.modal.fade(tabindex='-1' aria-labelledby='editRefLabel' aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h5#editRefLabel.modal-title S&#x1B0;&#x309;a ta&#x300;i li&ecirc;&#x323;u tham kha&#x309;o
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        form(action='/lecture/courses/editDocument?_method=PUT' method='POST' enctype="multipart/form-data")
          input#idDoc(type="hidden" name="id")
          input#oldPathDoc(type="hidden" name="oldPath")
          .form-group
            label(for='editNameLesson') Tên tài liệu tham khảo
            input#editTitleDoc.form-control(type='text' name="title")
          .form-group
            label(for='fileDocument') File ta&#x300;i li&ecirc;&#x323;u tham kha&#x309;o
            input#fileDocument.form-control-file(type='file' name="fileDocument")
          .modal-footer
            button.btn.btn-secondary(type='button' data-dismiss='modal') &Dstrok;o&#x301;ng
            button.btn.btn-primary(type='submit') L&#x1B0;u
// Delete Ref
#deleteRef.modal.fade(tabindex='-1' aria-labelledby='deleteRefLabel' aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h5#deleteRefLabel.modal-title Xo&#x301;a ta&#x300;i li&ecirc;&#x323;u tham kha&#x309;o
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        form(action='/lecture/courses/deleteDocument?_method=DELETE' method='POST')
          input(type="hidden" name="idCourse" value= course._id)
          input#idDeleteDoc(type="hidden" name="id")
          #contentDoc
          .modal-footer.mt-3
            button.btn.btn-secondary(type='button' data-dismiss='modal') &Dstrok;o&#x301;ng
            button.btn.btn-danger(type='submit') Xo&#x301;a
// add course requiment
#addRequiment.modal.fade(tabindex='-1' aria-labelledby='addRequimentLabel' aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h5#addRequimentLabel.modal-title Y&ecirc;u c&acirc;&#x300;u kho&#x301;a ho&#x323;c
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        form(action='/lecture/courses/addRequirement' method='POST')
          input(type="hidden" name="idCourse" value= course._id)
          
          .form-group
            textarea.form-control(rows='3' placeholder='Nhập yêu cầu khóa học ?' name="content")
          .modal-footer
            button.btn.btn-secondary(type='button' data-dismiss='modal') &Dstrok;o&#x301;ng
            button.btn.btn-primary(type='submit') L&#x1B0;u
// Edit course requiment
#editRequirement.modal.fade(tabindex='-1' aria-labelledby='editRequirementLabel' aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h5#editRequirementLabel.modal-title S&#x1B0;&#x309;a y&ecirc;u c&acirc;&#x300;u kho&#x301;a ho&#x323;c
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        form(action='/lecture/courses/editRequirement?_method=PUT' method='POST')
          input#idRequirement(type="hidden" name="id")
          .form-group
            textarea#editRequire.form-control(rows='3' name="content")
          .modal-footer
            button.btn.btn-secondary(type='button' data-dismiss='modal') &Dstrok;o&#x301;ng
            button.btn.btn-primary(type='submit') L&#x1B0;u
// Delete course requiment
#deleteRequirement.modal.fade(tabindex='-1' aria-labelledby='deleteRequirementLabel' aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h5#deleteRequirementLabel.modal-title Xóa yêu cầu khóa học
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        form(action='/lecture/courses/deleteRequirement?_method=DELETE' method='POST')
          input(type="hidden" name="idCourse" value= course._id)
          input#idDeleteReq(type="hidden" name='id')
          #contentRequire
          .modal-footer.mt-3
            button.btn.btn-secondary(type='button' data-dismiss='modal') &Dstrok;o&#x301;ng
            button.btn.btn-danger(type='submit') Xo&#x301;a
// Bootstrap core JavaScript
script(src='/jquery/jquery.min.js')
script(src='/bootstrap/js/bootstrap.bundle.min.js')
// Core plugin JavaScript
script(src='/jquery-easing/jquery.easing.min.js')
// Custom scripts for all pages
script(src='/javascripts/sb-admin-2.min.js')
script(src='/javascripts/lecture-detail-course.js')
